.App{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intputIp{
    width: 100%;
    height: 60px;
    padding: 5px;
    border-radius:10px;
    box-shadow: 0 2px 3px #0d0080;
    color: #0d0080;
    border: 1px solid #0d0080;
    outline: none;
    margin-top: 2px;
    text-align: center;
}
.intputPort{
    width: calc(90% - 100px);
    height: 60px;
    padding: 5px;
    border-radius:10px;
    box-shadow: 0 2px 3px #0d0080;
    color: #0d0080;
    border: 1px solid #0d0080;
    outline: none;
    margin-top: 2px;
    text-align: center;
}
.div-spin{ 
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.ant-spin-dot i{
    background-color: white !important;
}
.div-modal{
    margin-top: 10px !important;
    display: flex;
    flex-direction: column;
}
.div-p:hover{
    background-color: lightblue;
    border-radius: 5px !important;
}
.div-p{
    display: flex;
    justify-content: space-between !important;
    padding-left: 7px;
    padding-right: 7px;
}
.grafico{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}
.modalParagrafo{
    color: black;
    /* font-weight: bold; */
}
.ant-modal-title{
    color: black !important;
    font-weight: bold !important;
    font-size: 18px !important;
    text-align: center;
}
.div-modal-reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.labelReset{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px !important;
}
.intputreset{
    align-self: center;
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius:10px;
    box-shadow: 0 2px 3px #0d0080;
    color: #0d0080;
    border: 1px solid #0d0080;
    outline: none;
    margin-top: 2px;
    text-align: center;
    font-size: 16px;
}
.ant-progress-text{
    color: black !important;
}

.ant-btn-primary{
    background-color: #0d0080 !important;
    border: #0d0080 !important;
}
.ant-btn-primary:hover{
    background-color: #0071f1 !important;
    border: #0071f1 !important;
}

.div-modal-ping {
    display: flex;
    flex-direction: column;
}
.ping-Data-headerPrimary{
    align-self: center;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin: 0 10px 0 10px;
}
.ping-Data-labelPrimary{
    color: black;
}
.div-ping-DataHeader{
    display: flex;
    justify-content: space-between;
}
.ping-Data-headerSecundary{
    color: green;
}
.ping-Data-headerSecundaryValue{
    font-size: 22px;
    font-weight: bold;
}

 .div-graph{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 380px){
    .ping-Data-headerSecundaryValue{
        font-size: 20px;
    }
    .ping-Data-headerSecundary{
        text-align: center;
    }
    .div-ping-DataHeader{
        display: flex;
        flex-direction: column;
    }
    .ping-Data-headerPrimary{
        font-size: 18px;
    }
}
@media only screen and (max-width: 300px){
    .group{
        width: 210px !important;
    }
    .intputIp{
        height: 45px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .row{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
    }
    .ModalReset{
        width: 280px !important;
    }
}

@media only screen and (min-width: 301px) and (max-width: 374px){
    .group{
        width: 260px !important;
    }
    .intputIp{
        height: 45px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .row{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
    }
    .ModalStatus{
        width: 280px !important;
    }
    .ModalReset{
        width: 300px !important;
    }
}
@media only screen and (min-width: 375px) and (max-width: 799px){
    .group{
        width: 310px !important;
    }
    .intputIp{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .row{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
    }
    .ModalStatus{
        width: 320px !important;
    }
    .ModalReset{
        width: 375px !important;
    }
}

@media only screen and (min-width: 800px){
    .group{
        width: 615px !important;
    }
    .intputIp{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .rowMaster{
        display:flex;
        flex-direction: row;
    }

    .row{
        display: flex;
        flex-direction: row;
        padding-left: 15px;
        padding-right: 15px;
    }

    .modalParagrafo{
        font-size: 18px;
    }
    
    #rcDialogTitle0{
        font-size: 30px !important;
    }
    .ModalStatus{
        width: 380px !important;
    }
}



